.navbar-nav {
    display: flex;

    .nav-link {
      color: rgba($sta-menu-text, .85);

      &.active,
      &:focus {
        color: $sta-menu-text;
      }

      &:hover {
        color: $sta-menu-text-active !important;
      }

      &.active {
        font-weight: bold !important;
        color: $sta-menu-text-active !important;
      }
    }
  }
